.title {
    color:rgb(170, 14, 113)
}
    body {
        background-image: url(https://images.squarespace-cdn.com/content/v1/5dffda561f707d1cc0285137/1577718694875-75EY2UX74N64NLAX28J8/header1.jpg);
    }

h2 {
    color: rgb(226, 51, 218);
}
.test{
    float: left;
}

dt{
    font-size:large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

li{
    font-size: large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
    
p{
    font-size: large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
li{
    font-size: large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.photo{
    float: right;
}